*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    /* background:#f1f1f1; */
    /* background: linear-gradient(rgb(255, 166, 0), rgb(255,255,255)) no-repeat; */
    /* background: linear-gradient(to left top, rgb(255, 166, 0),#f6e58d, #ffbe76) no-repeat; */
    background: linear-gradient(to left top,#ff3838, #ff4d4d,#ff3838) no-repeat;
}


h1{
    font-size: 7rem;
    /* color: #ff8419; */
    /* color:white; */
    /* color:#333; */
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,.5);
}

.box-image{
    width: 50%;
    height: 100vh;
    background: url(../images/image_forms_small.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.box-form{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}


button{
    /* background-color: #ff8419; */
    background-color: #333;
    /* color: black; */
    color: white;
    text-decoration: none;
    border-radius: .5rem;
    margin-top: 5rem; 
    border:none;
    padding: 1.3rem 4.5rem;
    font-size: 1.7rem;
    box-shadow: 0rem .3rem .8rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .3s all;
}

button:hover{
    background-color: black;
    /* color: #ff8419; */
    color:red
}



/* formulaire */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    margin: 1rem 0;
    padding: 1.5rem 5rem 1.5rem 1.5rem;
    width: 40rem;
    outline: none;
    /* border : solid .2rem #ff8419; */
    border : solid .2rem white;
    background-color: black;
    /* color:#ff8419; */
    color: white;
    border-radius: .5rem;
}

input::placeholder{
    /* color: #ff8419; */
    color: white;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

/* Media queries */
@media only screen and (max-width: 1370px){
    body{
        justify-content: center;
    }
    .box-image{
        display: none;
    }

}
@media only screen and (max-width: 420px){
    html{
        font-size: 50%;
    }

}

@media only screen and (max-width: 321px){
    html{
        font-size: 40%;
    }
}